public/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Контакты - Layout</title>
    <meta name="author" content="grishko.pro">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="App layout">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header__content">
                <div class="header__logo"><a href="index.html">
                    <svg class="icon icon-logo ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                    </svg></a></div>
                <div class="header__menu">
                  <button class="hamburger" type="button">
                    <div class="hamburger-box"><span class="hamburger-inner"></span></div>
                  </button>
                  <ul class="main-menu mobile-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li>Контакты</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="content-inside">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="section-title">Контакты</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-md-12">
              <div class="contacts-panel">
                <div class="contacts-panel__content">
                  <div class="contacts-panel__icon">
                    <svg class="icon icon-call ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#call"></use>
                    </svg>
                  </div>
                  <div class="contacts-panel__name">Телефон</div>
                  <div class="contacts-panel__text">8 800 555 555 55</div>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-12">
              <div class="contacts-panel">
                <div class="contacts-panel__content">
                  <div class="contacts-panel__icon">
                    <svg class="icon icon-email ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#email"></use>
                    </svg>
                  </div>
                  <div class="contacts-panel__name">Email</div>
                  <div class="contacts-panel__text">info@kpss.ru</div>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-12">
              <div class="contacts-panel contacts-panel--adr">
                <div class="contacts-panel__content">
                  <div class="contacts-panel__icon">
                    <svg class="icon icon-place ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#place"></use>
                    </svg>
                  </div>
                  <div class="contacts-panel__name">Адрес</div>
                  <div class="contacts-panel__text">27287 г. Москва, ул. Полтавская, д. 18</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="contacts-line"><span>ОГРН № 1127799010129  от  28 мая 2012 г.</span><span>Руководящий орган: Правление</span></div>
            </div>
          </div>
        </div>
      </section>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__top">
                <div class="footer__logo">
                  <svg class="icon icon-logo ">
                    <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                  </svg>
                </div>
                <div class="footer__menu">
                  <ul class="main-menu main-menu--light footer-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom">
                <div class="footer__copyright">Все права защищены © 2020 КПСС</div>
                <div class="footer__contacts">
                  <div class="footer__contacts-item"><span>Телефон:</span><a href="tel:880055555555">8 800 555 555 55</a></div>
                  <div class="footer__contacts-item"><span>Email:</span><a href="mailto:info@kpss.ru">info@kpss.ru</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jquery.vmap.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>

source/views/pages/contacts.pug
extends ../layout/base

append config
	- var pageTitle = 'Контакты';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Контакты
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Контакты
				.row
					.col-4.col-md-12
						.contacts-panel
							.contacts-panel__content
								.contacts-panel__icon
									+icon('call')
								.contacts-panel__name
									|Телефон
								.contacts-panel__text
									|8 800 555 555 55
					.col-4.col-md-12
						.contacts-panel
							.contacts-panel__content
								.contacts-panel__icon
									+icon('email')
								.contacts-panel__name
									|Email
								.contacts-panel__text
									|info@kpss.ru
					.col-4.col-md-12
						.contacts-panel.contacts-panel--adr
							.contacts-panel__content
								.contacts-panel__icon
									+icon('place')
								.contacts-panel__name
									|Адрес
								.contacts-panel__text
									|27287 г. Москва, ул. Полтавская, д. 18
				.row
					.col-12
						.contacts-line
							span
								|ОГРН № 1127799010129  от  28 мая 2012 г.
							span
								|Руководящий орган: Правление
		include ../layout/footer
