public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Главная - Layout</title>
    <meta name="author" content="grishko.pro">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="App layout">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header__content">
                <div class="header__logo"><a href="index.html">
                    <svg class="icon icon-logo ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                    </svg></a></div>
                <div class="header__menu">
                  <button class="hamburger" type="button">
                    <div class="hamburger-box"><span class="hamburger-inner"></span></div>
                  </button>
                  <ul class="main-menu mobile-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="carousel">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(assets/images/content/slide-1.jpg)">
              <div class="swiper-slide-content">
                <h1>Комунистическая партия социальной справедливости</h1><span>Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных</span>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(assets/images/content/slide-1.jpg)">
              <div class="swiper-slide-content">
                <h1>Комунистическая партия социальной справедливости</h1><span>Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных</span>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url(assets/images/content/slide-1.jpg)">
              <div class="swiper-slide-content">
                <h1>Комунистическая партия социальной справедливости</h1><span>Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных</span>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section class="home-about">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="home-about__body">
                <div class="home-about__content">
                  <div class="home-about__content-text">
                    <h3>Коммунистическая партия социальной справедливости</h3><span>
                      <p>Является общественным объединением, созданным в целях участия граждан Российской Федерации в политической жизни общества посредством формирования и выражения их политической воли, участия в общественных и политических акциях, в выборах и референдумах, а также в целях представления интересов граждан в органах государственной власти и органах местного самоуправления.</p>
                      <p>Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных.  КПСС построит общество, где не будет нищеты и богатства, где труд будет достойно вознаграждаться, где у каждого будут возможности для развития, где человек будет уверен в своем будущем.</p></span>
                  </div>
                  <div class="home-about__content-img"><img src="assets/images/content/home-about.jpg" alt=""></div>
                </div><a class="btn btn--absolute" href="#">Подробнее о партии</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-12"><a class="btn-big" href="#">
                <svg class="icon icon-pdf ">
                  <use xlink:href="assets/images/icons/sprite-inline.svg#pdf"></use>
                </svg><span>Устав политической партии Коммунистическая партия социальной справедливости</span></a></div>
            <div class="col-6 col-md-12"><a class="btn-big" href="#">
                <svg class="icon icon-pdf ">
                  <use xlink:href="assets/images/icons/sprite-inline.svg#pdf"></use>
                </svg><span>Программа политической партии Коммунистическая партия социальной справедливости</span></a></div>
          </div>
        </div>
      </section>
      <section class="news">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4 class="section-title">Новости</h4>
            </div>
          </div>
          <div class="news-grid">
            <div class="row">
              <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                  <div class="news-item__img"><img src="assets/images/content/news-1.jpg" alt=""></div>
                  <div class="news-item__content">
                    <div class="news-item__title">Митинг москвичей в День охраны окружающей среды</div>
                    <div class="news-item__text">Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…</div>
                    <div class="news-item__actions"><span>27.01.2017</span>
                      <div class="read-more">Читать далее
                        <svg class="icon icon-right-arrow ">
                          <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                        </svg>
                      </div>
                    </div>
                  </div></a></div>
              <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                  <div class="news-item__img"><img src="assets/images/content/news-2.jpg" alt=""></div>
                  <div class="news-item__content">
                    <div class="news-item__title">С Днем трудящихся, товарищи!</div>
                    <div class="news-item__text">Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!</div>
                    <div class="news-item__actions"><span>27.01.2017</span>
                      <div class="read-more">Читать далее
                        <svg class="icon icon-right-arrow ">
                          <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                        </svg>
                      </div>
                    </div>
                  </div></a></div>
              <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                  <div class="news-item__img"><img src="assets/images/content/news-3.jpg" alt=""></div>
                  <div class="news-item__content">
                    <div class="news-item__title">Шествие-митинг посвященное Дню Единства</div>
                    <div class="news-item__text">В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…</div>
                    <div class="news-item__actions"><span>27.01.2017</span>
                      <div class="read-more">Читать далее
                        <svg class="icon icon-right-arrow ">
                          <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                        </svg>
                      </div>
                    </div>
                  </div></a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="section-all-link section-all-link--margin"><a class="btn" href="#">Все новости</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="full-map">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4 class="section-title">Наша география</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="vmap" id="vmap" style="width: 101%; margin-left: -1%; max-width: 1500px; height: 720px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="bottom-info">
                <div class="bottom-info__left">
                  <div class="bottom-info__left-item">
                    <div class="bottom-info__left-item-title">
                      <svg class="icon icon-calendar ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#calendar"></use>
                      </svg>История
                    </div>
                    <div class="bottom-info__left-item-text">Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий было объявлено о предстоящем объединении под существующим…</div>
                  </div>
                  <div class="bottom-info__left-item">
                    <div class="bottom-info__left-item-title">
                      <svg class="icon icon-concept ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#concept"></use>
                      </svg>Идеология
                    </div>
                    <div class="bottom-info__left-item-text">Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий было объявлено.</div>
                  </div>
                  <div class="bottom-info__left-item">
                    <div class="bottom-info__left-item-title">
                      <svg class="icon icon-award ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#award"></use>
                      </svg>Достижения
                    </div>
                    <div class="bottom-info__left-item-text">Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий</div>
                  </div>
                </div>
                <div class="bottom-info__right">
                  <div class="bottom-info__right-item">
                    <div class="bottom-info__right-item-title">Социальная справедливость </div>
                    <div class="bottom-info__right-item-text">Общество должно строиться на принципах социальной справедливости. Наша цель — ускоренное движение вперед за счет масштабных вложений в социальную сферу и человеческий капитал.</div>
                  </div>
                  <div class="bottom-info__right-item">
                    <div class="bottom-info__right-item-title">Человеческий потенциал — основа ускоренного развития России </div>
                    <div class="bottom-info__right-item-text">Человек — самое большое богатство страны! Чем большим потенциалом будет обладать каждый человек, тем выше интеллектуальный ресурс всей страны, тем динамичнее темпы роста экономики, тем значительнее возможности общества. КПСС добьется того, чтобы каждый гражданин получил максимум возможностей для саморазвития, а значит и для развития России.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__top">
                <div class="footer__logo">
                  <svg class="icon icon-logo ">
                    <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                  </svg>
                </div>
                <div class="footer__menu">
                  <ul class="main-menu main-menu--light footer-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom">
                <div class="footer__copyright">Все права защищены © 2020 КПСС</div>
                <div class="footer__contacts">
                  <div class="footer__contacts-item"><span>Телефон:</span><a href="tel:880055555555">8 800 555 555 55</a></div>
                  <div class="footer__contacts-item"><span>Email:</span><a href="mailto:info@kpss.ru">info@kpss.ru</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jquery.vmap.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>

source/views/pages/index.pug
extends ../layout/base

append config
	- var pageTitle = 'Главная';

block content
	.wrapper
		include ../layout/header
		include ../components/carousel
		section.home-about
			.container
				.row
					.col-12
						.home-about__body
							.home-about__content
								.home-about__content-text
									h3
										|Коммунистическая партия социальной справедливости
									span
										p Является общественным объединением, созданным в целях участия граждан Российской Федерации в политической жизни общества посредством формирования и выражения их политической воли, участия в общественных и политических акциях, в выборах и референдумах, а также в целях представления интересов граждан в органах государственной власти и органах местного самоуправления.
										p Наша цель – превращение Российской Федерации в полноценное социалистическое государство без угнетателей и угнетенных.  КПСС построит общество, где не будет нищеты и богатства, где труд будет достойно вознаграждаться, где у каждого будут возможности для развития, где человек будет уверен в своем будущем.
								.home-about__content-img
									img(src="assets/images/content/home-about.jpg", alt="")
							a.btn.btn--absolute(href="#")
								|Подробнее о партии
				.row
					.col-6.col-md-12
						a.btn-big(href="#")
							+icon('pdf')
							span
								|Устав политической партии Коммунистическая партия социальной справедливости
					.col-6.col-md-12
						a.btn-big(href="#")
							+icon('pdf')
							span
								|Программа политической партии Коммунистическая партия социальной справедливости
		section.news
			.container
				.row
					.col-12
						h4.section-title
							|Новости
				.news-grid
					.row
						.col-4.col-lg-6.col-md-12
							a.news-item(href="article.html")
								.news-item__img
									img(src="assets/images/content/news-1.jpg", alt="")
								.news-item__content
									.news-item__title
										|Митинг москвичей в День охраны окружающей среды
									.news-item__text
										|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
									.news-item__actions
										span
											|27.01.2017
										.read-more
											|Читать далее
											+icon('right-arrow')
						.col-4.col-lg-6.col-md-12
							a.news-item(href="article.html")
								.news-item__img
									img(src="assets/images/content/news-2.jpg", alt="")
								.news-item__content
									.news-item__title
										|С Днем трудящихся, товарищи!
									.news-item__text
										|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
									.news-item__actions
										span
											|27.01.2017
										.read-more
											|Читать далее
											+icon('right-arrow')
						.col-4.col-lg-6.col-md-12
							a.news-item(href="article.html")
								.news-item__img
									img(src="assets/images/content/news-3.jpg", alt="")
								.news-item__content
									.news-item__title
										|Шествие-митинг посвященное Дню Единства
									.news-item__text
										|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
									.news-item__actions
										span
											|27.01.2017
										.read-more
											|Читать далее
											+icon('right-arrow')
				.row
					.col-12
						.section-all-link.section-all-link--margin
							a.btn(href="#")
								|Все новости
		section.full-map
			.container
				.row
					.col-12
						h4.section-title
							|Наша география
				.row
					.col-12
						.vmap(id="vmap", style="width: 101%; margin-left: -1%; max-width: 1500px; height: 720px;")
				.row
					.col-12
						.bottom-info
							.bottom-info__left
								.bottom-info__left-item
									.bottom-info__left-item-title
										+icon('calendar')
										|История
									.bottom-info__left-item-text
										|Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий было объявлено о предстоящем объединении под существующим…
								.bottom-info__left-item
									.bottom-info__left-item-title
										+icon('concept')
										|Идеология
									.bottom-info__left-item-text
										|Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий было объявлено.
								.bottom-info__left-item
									.bottom-info__left-item-title
										+icon('award')
										|Достижения
									.bottom-info__left-item-text
										|Предыдущая от самой важной новости новость. Богданова на совместном заседании Федеральных Политических советов партий
							.bottom-info__right
								.bottom-info__right-item
									.bottom-info__right-item-title
										|Социальная справедливость 
									.bottom-info__right-item-text
										|Общество должно строиться на принципах социальной справедливости. Наша цель — ускоренное движение вперед за счет масштабных вложений в социальную сферу и человеческий капитал.
								.bottom-info__right-item
									.bottom-info__right-item-title
										|Человеческий потенциал — основа ускоренного развития России 
									.bottom-info__right-item-text
										|Человек — самое большое богатство страны! Чем большим потенциалом будет обладать каждый человек, тем выше интеллектуальный ресурс всей страны, тем динамичнее темпы роста экономики, тем значительнее возможности общества. КПСС добьется того, чтобы каждый гражданин получил максимум возможностей для саморазвития, а значит и для развития России.
		include ../layout/footer
