source/views/pages/map.pug
extends ../layout/base

append config
	- var pageTitle = 'Наша география';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Наша география
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Наша география
				.row
					.col-12
						.vmap(id="vmap", style="width: 101%; margin-left: -1%; margin-top: -40px; max-width: 1500px; height: 680px;")
				.row
					.col-12
						.panel-white.panel-white--accordion
							.accordion
								.accordion__item.is-open
									.accordion__item-title
										h4 Иркутская область
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item.is-open
									.accordion__item-title
										h4 Краснодарский край
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item
									.accordion__item-title
										h4 Иркутская область
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item
									.accordion__item-title
										h4 Краснодарский край
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.
								.accordion__item
									.accordion__item-title
										h4 Иркутская область
										.accordion__item-mode
											span.is-open
												|Свернуть
											span.is-close
												|Развернуть
									.accordion__item-content
										.accordion__item-text
											p Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].
											p В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].
											p В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.

		include ../layout/footer

public/map.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Наша география - Layout</title>
    <meta name="author" content="grishko.pro">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="App layout">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header__content">
                <div class="header__logo"><a href="index.html">
                    <svg class="icon icon-logo ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                    </svg></a></div>
                <div class="header__menu">
                  <button class="hamburger" type="button">
                    <div class="hamburger-box"><span class="hamburger-inner"></span></div>
                  </button>
                  <ul class="main-menu mobile-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li>Наша география</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="content-inside">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="section-title">Наша география</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="vmap" id="vmap" style="width: 101%; margin-left: -1%; margin-top: -40px; max-width: 1500px; height: 680px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="panel-white panel-white--accordion">
                <div class="accordion">
                  <div class="accordion__item is-open">
                    <div class="accordion__item-title">
                      <h4>Иркутская область</h4>
                      <div class="accordion__item-mode"><span class="is-open">Свернуть</span><span class="is-close">Развернуть</span></div>
                    </div>
                    <div class="accordion__item-content">
                      <div class="accordion__item-text">
                        <p>Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].</p>
                        <p>В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].</p>
                        <p>В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__item is-open">
                    <div class="accordion__item-title">
                      <h4>Краснодарский край</h4>
                      <div class="accordion__item-mode"><span class="is-open">Свернуть</span><span class="is-close">Развернуть</span></div>
                    </div>
                    <div class="accordion__item-content">
                      <div class="accordion__item-text">
                        <p>Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].</p>
                        <p>В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].</p>
                        <p>В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <div class="accordion__item-title">
                      <h4>Иркутская область</h4>
                      <div class="accordion__item-mode"><span class="is-open">Свернуть</span><span class="is-close">Развернуть</span></div>
                    </div>
                    <div class="accordion__item-content">
                      <div class="accordion__item-text">
                        <p>Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].</p>
                        <p>В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].</p>
                        <p>В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <div class="accordion__item-title">
                      <h4>Краснодарский край</h4>
                      <div class="accordion__item-mode"><span class="is-open">Свернуть</span><span class="is-close">Развернуть</span></div>
                    </div>
                    <div class="accordion__item-content">
                      <div class="accordion__item-text">
                        <p>Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].</p>
                        <p>В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].</p>
                        <p>В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <div class="accordion__item-title">
                      <h4>Иркутская область</h4>
                      <div class="accordion__item-mode"><span class="is-open">Свернуть</span><span class="is-close">Развернуть</span></div>
                    </div>
                    <div class="accordion__item-content">
                      <div class="accordion__item-text">
                        <p>Партия была создана при участии лидера Демократической партии России и Центра политических технологий Андрея Богданова, о чём было заявлено 18 июля 2012 года на совместной пресс-конференции «Координационного совета — межпартийного совещания». Это объединение также было создано по инициативе Андрея Богданова. В него вошли Союз горожан, Социал-демократическая партия России, Народная партия России, Демократическая партия России и Коммунистическая партия социальной справедливости[4]. Известно также, что программу для КПСС написал бывший зампред ДПР, ныне председатель партии Союз горожан Вячеслав Смирнов[5][6].</p>
                        <p>В 2013 году на региональных Выборах, в Волгограде набрала 5,04 % (9055 голосов) преодолев пятипроцентный барьер, получив одно место в Волгоградской городской думе[7][8].</p>
                        <p>В 2014 году партию возглавил сам Андрей Богданов, сменив на этом посту Юрия Морозова[9]; первым секретарём центрального комитета партии был избран Андрей Брежнев — внук генерального секретаря ЦК КПСС Л. И. Брежнева[10], возглавивший партийные списки на выборах, по итогам которых партия в Государственное Собрание Республики Марий Эл 6-го созыва получила 2,21 % (5 085 голосов)[11], в Республике Крым получила 0,84 % (6 199 голосов)[12], в Законодательное Собрание города Севастополя получила 0,53 % (886 голосов)[13][14][15], не пройдя в парламент.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__top">
                <div class="footer__logo">
                  <svg class="icon icon-logo ">
                    <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                  </svg>
                </div>
                <div class="footer__menu">
                  <ul class="main-menu main-menu--light footer-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom">
                <div class="footer__copyright">Все права защищены © 2020 КПСС</div>
                <div class="footer__contacts">
                  <div class="footer__contacts-item"><span>Телефон:</span><a href="tel:880055555555">8 800 555 555 55</a></div>
                  <div class="footer__contacts-item"><span>Email:</span><a href="mailto:info@kpss.ru">info@kpss.ru</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jquery.vmap.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>
