public/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Новости - Layout</title>
    <meta name="author" content="grishko.pro">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="App layout">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header__content">
                <div class="header__logo"><a href="index.html">
                    <svg class="icon icon-logo ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                    </svg></a></div>
                <div class="header__menu">
                  <button class="hamburger" type="button">
                    <div class="hamburger-box"><span class="hamburger-inner"></span></div>
                  </button>
                  <ul class="main-menu mobile-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li>Новости</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="content-inside">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="section-title">Новости</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-1.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Митинг москвичей в День охраны окружающей среды</div>
                  <div class="news-item__text">Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-2.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">С Днем трудящихся, товарищи!</div>
                  <div class="news-item__text">Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-3.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Шествие-митинг посвященное Дню Единства</div>
                  <div class="news-item__text">В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-1.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Митинг москвичей в День охраны окружающей среды</div>
                  <div class="news-item__text">Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-2.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">С Днем трудящихся, товарищи!</div>
                  <div class="news-item__text">Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-3.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Шествие-митинг посвященное Дню Единства</div>
                  <div class="news-item__text">В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-1.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Митинг москвичей в День охраны окружающей среды</div>
                  <div class="news-item__text">Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-2.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">С Днем трудящихся, товарищи!</div>
                  <div class="news-item__text">Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-3.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Шествие-митинг посвященное Дню Единства</div>
                  <div class="news-item__text">В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-1.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Митинг москвичей в День охраны окружающей среды</div>
                  <div class="news-item__text">Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-2.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">С Днем трудящихся, товарищи!</div>
                  <div class="news-item__text">Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-4 col-lg-6 col-md-12"><a class="news-item" href="article.html">
                <div class="news-item__img"><img src="assets/images/content/news-3.jpg" alt=""></div>
                <div class="news-item__content">
                  <div class="news-item__title">Шествие-митинг посвященное Дню Единства</div>
                  <div class="news-item__text">В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…</div>
                  <div class="news-item__actions"><span>27.01.2017</span>
                    <div class="read-more">Читать далее
                      <svg class="icon icon-right-arrow ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                      </svg>
                    </div>
                  </div>
                </div></a></div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="pagination">
                <div class="pagination__prev"><a href="#">
                    <svg class="icon icon-right-arrow ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                    </svg>Предыдущая</a></div>
                <div class="pagination__items">
                  <ul>
                    <li><a href="#">1</a></li>
                    <li class="spacer">...</li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="is-current"><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li class="spacer">...</li>
                    <li><a href="#">15</a></li>
                  </ul>
                </div>
                <div class="pagination__next"><a href="#">Следующая
                    <svg class="icon icon-right-arrow ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#right-arrow"></use>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__top">
                <div class="footer__logo">
                  <svg class="icon icon-logo ">
                    <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                  </svg>
                </div>
                <div class="footer__menu">
                  <ul class="main-menu main-menu--light footer-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom">
                <div class="footer__copyright">Все права защищены © 2020 КПСС</div>
                <div class="footer__contacts">
                  <div class="footer__contacts-item"><span>Телефон:</span><a href="tel:880055555555">8 800 555 555 55</a></div>
                  <div class="footer__contacts-item"><span>Email:</span><a href="mailto:info@kpss.ru">info@kpss.ru</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jquery.vmap.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>

source/views/pages/news.pug
extends ../layout/base

append config
	- var pageTitle = 'Новости';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Новости
		section.content-inside
			.container
				.row
					.col-12
						h1.section-title
							|Новости
				.row
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-1.jpg", alt="")
							.news-item__content
								.news-item__title
									|Митинг москвичей в День охраны окружающей среды
								.news-item__text
									|Сегодня в Москве у ст. м. ВДНХ состоялся митинг в защиту экологии города. Акция протеста прошла в рамках серии митингов…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-2.jpg", alt="")
							.news-item__content
								.news-item__title
									|С Днем трудящихся, товарищи!
								.news-item__text
									|Сегодня в центре Лондона представители КПСС приняли участие в первомайской демонстрации с английскими трудящимися!
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
					.col-4.col-lg-6.col-md-12
						a.news-item(href="article.html")
							.news-item__img
								img(src="assets/images/content/news-3.jpg", alt="")
							.news-item__content
								.news-item__title
									|Шествие-митинг посвященное Дню Единства
								.news-item__text
									|В Москве проходят акции, посвященные Дню народного единства. В столице были запланированы три массовых мероприятия…
								.news-item__actions
									span
										|27.01.2017
									.read-more
										|Читать далее
										+icon('right-arrow')
				.row
					.col-12
						.pagination
							.pagination__prev
								a(href="#")
									+icon('right-arrow')
									|Предыдущая
							.pagination__items
								ul
									li
										a(href="#") 1
									li.spacer
										|...
									li
										a(href="#") 3
									li
										a(href="#") 4
									li.is-current
										a(href="#") 5
									li
										a(href="#") 6
									li
										a(href="#") 7
									li.spacer
										|...
									li
										a(href="#") 15
							.pagination__next
								a(href="#")
									|Следующая
									+icon('right-arrow')
		include ../layout/footer
