public/team.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Команда - Layout</title>
    <meta name="author" content="grishko.pro">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="App layout">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header__content">
                <div class="header__logo"><a href="index.html">
                    <svg class="icon icon-logo ">
                      <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                    </svg></a></div>
                <div class="header__menu">
                  <button class="hamburger" type="button">
                    <div class="hamburger-box"><span class="hamburger-inner"></span></div>
                  </button>
                  <ul class="main-menu mobile-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li>Команда</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="content-inside content-inside--team">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="section-title">Команда</h1>
            </div>
          </div>
          <div class="team-grid">
            <div class="row">
              <div class="col-4 col-lg-6 col-md-12">
                <div class="team-member">
                  <div class="team-member__content">
                    <div class="team-member__photo"><img src="assets/images/content/member-1.jpg" alt=""></div>
                    <div class="team-member__name">Богданов <br>Андрей Владимирович</div>
                    <div class="team-member__pos">Председатель правления<br>(2014—2017)</div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-6 col-md-12">
                <div class="team-member">
                  <div class="team-member__content">
                    <div class="team-member__photo"><img src="assets/images/content/member-2.jpg" alt=""></div>
                    <div class="team-member__name">Брежнев<br>Андрей Юрьевич</div>
                    <div class="team-member__pos">Первый секретарь ЦК<br>(2014—2017)</div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-6 col-md-12">
                <div class="team-member">
                  <div class="team-member__content">
                    <div class="team-member__photo"><img src="assets/images/content/member-3.jpg" alt=""></div>
                    <div class="team-member__name">Богданов <br>Андрей Владимирович</div>
                    <div class="team-member__pos">Председатель правления<br>(2014—2017)</div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-6 col-md-12">
                <div class="team-member">
                  <div class="team-member__content">
                    <div class="team-member__photo"><img src="assets/images/content/member-2.jpg" alt=""></div>
                    <div class="team-member__name">Брежнев<br>Андрей Юрьевич</div>
                    <div class="team-member__pos">Первый секретарь ЦК<br>(2014—2017)</div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-6 col-md-12">
                <div class="team-member">
                  <div class="team-member__content">
                    <div class="team-member__photo"><img src="assets/images/content/member-3.jpg" alt=""></div>
                    <div class="team-member__name">Богданов <br>Андрей Владимирович</div>
                    <div class="team-member__pos">Председатель правления<br>(2014—2017)</div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-lg-6 col-md-12">
                <div class="team-member">
                  <div class="team-member__content">
                    <div class="team-member__photo"><img src="assets/images/content/member-1.jpg" alt=""></div>
                    <div class="team-member__name">Богданов <br>Андрей Владимирович</div>
                    <div class="team-member__pos">Председатель правления<br>(2014—2017)</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__top">
                <div class="footer__logo">
                  <svg class="icon icon-logo ">
                    <use xlink:href="assets/images/icons/sprite-inline.svg#logo"></use>
                  </svg>
                </div>
                <div class="footer__menu">
                  <ul class="main-menu main-menu--light footer-menu">
                    <li><a href="about.html">О партии</a></li>
                    <li><a href="team.html">Команда</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="map.html">Наша география</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom">
                <div class="footer__copyright">Все права защищены © 2020 КПСС</div>
                <div class="footer__contacts">
                  <div class="footer__contacts-item"><span>Телефон:</span><a href="tel:880055555555">8 800 555 555 55</a></div>
                  <div class="footer__contacts-item"><span>Email:</span><a href="mailto:info@kpss.ru">info@kpss.ru</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/jquery.vmap.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>

source/views/pages/team.pug
extends ../layout/base

append config
	- var pageTitle = 'Команда';

block content
	.wrapper
		include ../layout/header
		section.breadcrumbs
			.container
				.row
					.col-12
						ul
							li
								a(href="index.html") Главная
							li
								|Команда
		section.content-inside.content-inside--team
			.container
				.row
					.col-12
						h1.section-title
							|Команда
				.team-grid
					.row
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-1.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-2.jpg", alt="")
									.team-member__name
										|Брежнев
										br
										|Андрей Юрьевич
									.team-member__pos
										|Первый секретарь ЦК
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-3.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-2.jpg", alt="")
									.team-member__name
										|Брежнев
										br
										|Андрей Юрьевич
									.team-member__pos
										|Первый секретарь ЦК
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-3.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
						.col-4.col-lg-6.col-md-12
							.team-member
								.team-member__content
									.team-member__photo
										img(src="assets/images/content/member-1.jpg", alt="")
									.team-member__name
										|Богданов 
										br
										|Андрей Владимирович
									.team-member__pos
										|Председатель правления
										br
										|(2014—2017)
		include ../layout/footer
